{% extends 'admin_royal_templates/base_admin.html' %}
{% load static %}

{% block content %}

<!-- Conteúdo principal -->
<div class="col-md-auto p-4">
  <!-- Linha 1 - Cards de dados -->
  <div class="row g-3 mb-4">
    <div class="col-md-4">
      <div class="card shadow-sm p-3">
        <h6>Total de Vendas</h6>
        <h3>R$ 3.450</h3>
        <canvas id="chartVendas" height="80"></canvas>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm p-3">
        <h6>Investimentos</h6>
        <!-- <h3>125</h3> -->
        <canvas id="chartPedidos" height="80"></canvas>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm p-3">
        <h6>Top Produtos</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">🍕 Pepperoni - 75</li>
          <li class="list-group-item">🍕 Margherita - 60</li>
          <li class="list-group-item">🍕 Veggie - 40</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Linha 2 - Pedidos recentes -->
  <div class="card shadow-sm p-3">
    <h6>Pedidos Recentes</h6>
    <table class="table table-striped mb-0">
      <thead>
        <tr>
          <th>Pedido #</th>
          <th>Cliente</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#1024</td>
          <td>João Silva</td>
          <td>12/08/2025</td>
        </tr>
        <tr>
          <td>#1023</td>
          <td>Maria Souza</td>
          <td>11/08/2025</td>
        </tr>
        <tr>
          <td>#1022</td>
          <td>Paulo Lima</td>
          <td>10/08/2025</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
