{% extends 'base.html' %}

{% block content %}

<div class="container mt-4"> 
    <div class="bg-white p-4 rounded">
        <form action="add_pizza" method="post">
            {{ form_pizza.as_p }}
            <button type="submit" name="submit_pizza">Enviar</button>
        </form>
    </div>
</div>

<div class="container mt-2"> 
    <div class="bg-white p-4 rounded">
        <form action="add_pizza" method="post">
            {{ form_sabor.as_p }}
            <button type="submit" name="submit_sabor">Enviar</button>
        </form>
    </div>
</div>
<br><br>

{% endblock content %}