{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">
  <div class="bg-light p-4 rounded shadow-sm">
    <h2 class="text-center mb-4">🛒 Meu Carrinho</h2>

    {% if itens %}
      <div class="table-responsive">
        <table class="table table-hover align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>Pizza</th>
                    <th>Sabores</th>
                    <!-- <th>Quantidade</th> -->
                    <th>Preço</th>
                    <th>Subtotal</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for item in itens %}
                    <tr>
                        <td>{{ item.pizza.tamanho.nome }}</td>
                        <td>
                            {% for sabor in item.pizza.sabores.all %}
                                {{ sabor.nome }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <!-- <td>{{ item.quantidade }}</td> -->
                        <td>R$ {{ item.pizza.calcular_preco }}</td>
                        <td>R$ {{ item.subtotal }}</td>
                        <td>
                            <a href="{% url 'excluir_item' item.pizza.id %}" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i> Excluir
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

      {% if check_carrinho.endereco__neighborhood == None %}
        {{ carrinho_itens.endereco__neighborhood }}
      {% endif %}

      <div class="text-end mt-4">
        <h4>Total: <span class="text-danger">R$ {{ total }}</span></h4>
        {% if check_carrinho.endereco__neighborhood == None %}
          <a href="{% url 'info_adress' %}" class="btn btn-warning btn-lg mt-2">Finalizar Pedido</a>
        {% else %}
          <a class="btn btn-warning btn-lg mt-2" id="btn-finalizar" data-url="{% url 'confirm_pedid' %}" onclick="confirmar_pedido()">
            Finalizar Pedido</a>
        {% endif %}
      </div>

    {% else %}
      <div class="alert alert-info text-center">
        <h5>Seu carrinho está vazio.</h5>
      </div>
    {% endif %}
  </div>
</div>

<!-- Opcional: ícones do Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

{% endblock content %}
