{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/buttons/button_home.css' %}">
{% endblock css %}

{% block content %}

        <!-- <div>
            <div class="container">
                <div class="row text-center gap-2">
                    <div class="col-auto">
                       <div class="card" style="width: 18rem;">
                           <img src="img/pizzas_img.png" class="card-img-top" alt="...">
                           <div class="card-body">
                               <h5 class="card-title">Pizzas disponiveis</h5>
                                <p class="card-text mb-4"> 
                                Pizza tamanhos(GG, G, M, P)
                                Diferentes valores e sabores</p>
                               <button class="cssbuttons-io-button d-flex ms-5">
                                   <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                                   </svg>
                                   <a href="templates/pizzas/pizzas.html" style="text-decoration: none;">
                                    <span class="text-white">Visualizar</span>
                                   </a>
                               </button>
                           </div>
                       </div>
                   </div>
                   <div class="col-auto">
                        <div class="card" style="width: 18rem;">
                           <img src="img/esfihas_img.png" class="card-img-top" alt="...">
                           <div class="card-body">
                               <h5 class="card-title">Esfihas Combos + individuais</h5>
                                <p class="card-text mb-4"> 
                                Combos: (Casal, Familia, Royal)
                                </p>
                               <button class="cssbuttons-io-button d-flex ms-5">
                                   <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                                   </svg>
                                   <span>Visualizar</span>
                               </button>
                           </div>
                       </div>
                   </div>
                   <div class="col-auto">
                        <div class="card" style="width: 18rem;">
                           <img src="img/refrigerantes_img.png" class="card-img-top" alt="...">
                           <div class="card-body">
                               <h5 class="card-title">Bebidas</h5>
                                <p class="card-text mb-4"> 
                                Refrigerantes, sucos, outros...
                                </p>
                               <button class="cssbuttons-io-button d-flex ms-5">
                                   <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M0 0h24v24H0z" fill="none"></path>
                                       <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                                   </svg>
                                   <span>Visualizar</span>
                               </button>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
       </div> -->

{% endblock content %}