{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/buttons/button_home.css' %}">
{% endblock css %}

{% block content %}
    <div class="container mt-3">
        <div class="row text-center gap-2 d-flex justify-content-center">

            <!-- CARD PIZZAS -->
            <div class="col-auto">
                <div class="card bg-transparent text-white h-100" style="width: 18rem; backdrop-filter: blur(50px);">
                    <img src="{% static 'img/pizzas_img.png' %}" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Pizzas disponíveis</h5>
                        <p class="card-text mb-4">
                            Pizza tamanhos (GG, G, M, P)<br>
                            Diferentes valores e sabores
                        </p>
                        <button class="cssbuttons-io-button d-flex mt-auto ">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                            </svg>
                            <a href="#" style="text-decoration: none;">
                                <span class="text-white">Visualizar</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <!-- CARD BEBIDAS -->
            <div class="col-auto">
                <div class="card bg-transparent text-white h-100" style="width: 18rem; backdrop-filter: blur(50px);">
                    <img src="{% static 'img/refrigerantes_img.png' %}" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Bebidas</h5>
                        <p class="card-text mb-4">
                            Refrigerantes, sucos, outros...
                        </p>
                        <button class="cssbuttons-io-button d-flex mt-auto">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                            </svg>
                            <a href="#" style="text-decoration: none;">
                                <span class="text-white">Visualizar</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <!-- CARD ESFIHAS -->
            <div class="col-auto">
                <div class="card bg-transparent text-white h-100" style="width: 18rem; backdrop-filter: blur(50px);">
                    <img src="{% static 'img/esfihas_img.png' %}" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Esfihas Combos + Individuais</h5>
                        <p class="card-text mb-4">
                            (Em breve) Ainda não disponivel
                        </p>
                        <button class="cssbuttons-io-button d-flex mt-auto">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                            </svg>
                            <a style="text-decoration: none;" onclick="not_available()">
                                <span>Visualizar</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <!-- CARD SANDUICHES -->
            <div class="col-auto">
                <div class="card bg-transparent text-white h-100" style="width: 18rem; backdrop-filter: blur(50px);">
                    <img src="{% static 'img/sanduiches_2_img.png' %}" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Hamburguers Artesanais</h5>
                        <p class="card-text mb-4">
                            (Em breve) Ainda não disponivel
                        </p>
                        <button class="cssbuttons-io-button d-flex mt-auto">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                            </svg>
                            <a style="text-decoration: none;" onclick="not_available()">
                                <span class="text-white">Visualizar</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
{% endblock content %}
