{% if messages %}
    {% for message in messages %}
        <div class="alert {{message.tags}} text-center alert-dismissible fade show mt-3 fs-5" id="msg" role="alert">

            {% if message.tags == 'alert-info' %}
                <i class="fa-solid fa-circle-info fa-xl"></i>
                &ensp;
            {% endif %}

            {% if message.tags == 'alert-success' %}
                <i class="fa-solid fa-circle-check fa-xl"></i>
                &ensp;
            {% endif %}

            {% if message.tags == 'alert-warning' %}
                <i class="fa-solid fa-triangle-exclamation fa-xl"></i>
                &ensp;
            {% endif %}

            {% if message.tags == 'alert-danger' %}
                <i class="fa-solid fa-circle-xmark fa-xl"></i>
                &ensp;
            {% endif %}

            {{ message }}

            <button type="button" class="btn-close mt-1" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}