{% extends 'base.html' %}
{% load static %}

<title>{% block title %}PIZZAS | OPÇÕES{% endblock title %}</title>

{% block content %}

    <div class="container mt-3">
        <div class="row text-center gap-2 d-flex justify-content-center">
            <div class="col-auto">
                <div class="card bg-transparent text-white h-100" style="width: 18rem; backdrop-filter: blur(50px);">
                    <img src="#" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                          <h5 class="card-title">Pizza GG</h5>
                          <p class="card-text"> Pizza GG (Grande Grande)
                          Tamanho: Extra grande<br>
                          Pedaços: 12</p>
                        <button class="cssbuttons-io-button d-flex mt-auto ">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                            </svg>
                            <a href="{% url 'add_pizza_sel' 1 %}" style="text-decoration: none;">
                                <span class="text-white">Adicionar</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="card bg-transparent text-white h-100" style="width: 18rem; backdrop-filter: blur(50px);">
                    <img src="#" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                          <h5 class="card-title">Pizza G</h5>
                          <p class="card-text">
                              Pizza G (Grande) <br>
                              Tamanho: Grande <br>
                              Pedaços: 8
                          </p>
                        <button class="cssbuttons-io-button d-flex mt-auto">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                            </svg>
                            <a href="{% url 'add_pizza_sel' 2 %}" style="text-decoration: none;">
                                <span class="text-white">Adicionar</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="card bg-transparent text-white h-100" style="width: 18rem; backdrop-filter: blur(50px);">
                    <img src="#" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                          <h5 class="card-title">Pizza M</h5>
                          <p class="card-text">
                              Pizza M (Grande) <br>
                              Tamanho: Media <br>
                              Pedaços: 6
                          </p>
                        <button class="cssbuttons-io-button d-flex mt-auto">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                            </svg>
                            <a href="{% url 'add_pizza_sel' 3 %}" style="text-decoration: none;">
                                <span class="text-white">Adicionar</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="card bg-transparent text-white h-100" style="width: 18rem; backdrop-filter: blur(50px);">
                    <img src="#" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                          <h5 class="card-title">Pizza P</h5>
                          <p class="card-text">
                          Pizza P (Pequena) <br>
                          Tamanho: Pequena  <br>
                          Pedaços: 4
                          </p>
                        <button class="cssbuttons-io-button d-flex mt-auto">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                            </svg>
                            <a href="{% url 'add_pizza_sel' 4 %}" style="text-decoration: none;">
                                <span class="text-white">Adicionar</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
