{% extends 'base.html' %}
{% load static %}

<title>{% block title %}PIZZAS | OPÇÕES{% endblock title %}</title>

{% block content %}

    <div class="container mt-3">
        <div class="row text-center gap-2 d-flex justify-content-center">
            <div class="col-auto">
                <div class="card bg-transparent text-white h-100" style="width: 18rem; backdrop-filter: blur(50px);">
                    <img src="{% static 'img/pizza_gg_icone.png' %}" class="card-img-top bg-white p-2 rounded" alt="...">
                    <div class="card-body d-flex flex-column">
                          <h5 class="card-title">Pizza GG</h5>
                          <p class="card-text">
                          Tamanho: Extra grande<br>
                          <strong>Valor: 64.99</strong></p>
                        <button class="cssbuttons-io-button d-flex mt-auto ">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                            </svg>
                            <a href="{% url 'add_pizza_sel' 1 %}" style="text-decoration: none;">
                                <span class="text-white">Adicionar</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="card bg-transparent text-white h-100" style="width: 18rem; backdrop-filter: blur(50px);">
                    <img src="{% static 'img/pizza_g_icone.png' %}" class="card-img-top bg-white p-2 rounded" alt="...">
                    <div class="card-body d-flex flex-column">
                          <h5 class="card-title">Pizza G</h5>
                          <p class="card-text">
                              Tamanho: Grande <br>
                              <strong>Valor: 54.99</strong><br>
                          </p>
                        <button class="cssbuttons-io-button d-flex mt-auto">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                            </svg>
                            <a href="{% url 'add_pizza_sel' 2 %}" style="text-decoration: none;">
                                <span class="text-white">Adicionar</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="card bg-transparent text-white h-100" style="width: 18rem; backdrop-filter: blur(50px);">
                    <img src="{% static 'img/pizza_m_icone.png' %}" class="card-img-top bg-white p-2 rounded" alt="...">
                    <div class="card-body d-flex flex-column">
                          <h5 class="card-title">Pizza M</h5>
                          <p class="card-text">
                              Tamanho: Media <br>
                              <strong>Valor: 44.99</strong><br>
                          </p>
                        <button class="cssbuttons-io-button d-flex mt-auto">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                            </svg>
                            <a href="{% url 'add_pizza_sel' 3 %}" style="text-decoration: none;">
                                <span class="text-white">Adicionar</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="card bg-transparent text-white h-100" style="width: 18rem; backdrop-filter: blur(50px);">
                    <img src="{% static 'img/pizza_p_icone.png' %}" class="card-img-top bg-white p-2 rounded" alt="...">
                    <div class="card-body d-flex flex-column">
                          <h5 class="card-title">Pizza P</h5>
                          <p class="card-text">
                          Tamanho: Pequena <br>
                          <strong>Valor: 39.99</strong><br>
                          </p>
                        <button class="cssbuttons-io-button d-flex mt-auto">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                            </svg>
                            <a href="{% url 'add_pizza_sel' 4 %}" style="text-decoration: none;">
                                <span class="text-white">Adicionar</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

{% endblock content %}
