
body {
  background-image: url('/static/img/admin_royal/img_analise_bg.png');
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat;
  background-size: cover;  */
}